.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-family: "n";
  background-color: #b7c9db;
  padding: 10px 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  height: auto; /* Ensure the logo's height adjusts automatically */
  max-height: 40px; /* Maximum height of the logo */
  margin-left: 10px; /* Adjust margin as needed */
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  margin: 0 15px; /* Adjusted margin for better spacing */
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #336699;
}

@media (max-width: 1024px) {
  .nav-link {
    font-size: 20px;
    margin: 0 10px; /* Further reduced margin for tablets */
  }
}

@media (max-width: 768px) {
  .nav-link {
    font-size: 18px;
    margin: 0 5px; /* Adjusted margin for smaller screens */
  }
}

@media (max-width: 480px) {
  .nav-link {
    font-size: 16px; /* Adjusted font size for mobile devices */
    margin: 0 3px; /* Fine-tuned margin for smaller screens */
  }

  .logo {
    max-height: 30px; /* Adjusted logo size for smaller screens */
    margin-left: 5px; /* Adjusted margin for smaller screens */
  }
}
